@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue:hsl(220, 15%, 55%);
    --light-gray:hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
    background-color: var(--light-gray);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.content {
    background-color: var(--white);
    max-width: 32rem;
    max-height: 440vh;
    padding: 1.6rem;
    border-radius: 20px;
    text-align: center;
}

.image-style {
    border-radius: 10px;
    margin-bottom: 2.3rem;
    max-width: 28.8rem;
}


.head-style {
    color: var(--dark-blue);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.para-style {
    color: var(--grayish-blue);
    font-size: 1.6rem;
    margin: 0 1.4rem 2.3rem;
}

